@model DataValidation.Models.DataAnnotation


<table border="1">
<tr>
    <td>
        @Html.DisplayFor(x=>x.Dob)
    </td>
    <td>@Html.DisplayFor(x=>x.Email)</td>
    <td>@Html.DisplayFor(x=>x.Name)</td>
    <td>
@Html.ActionLink("Edit")</td>
</tr>
</table>


