@model DataValidation.Models.Customer


<h2>title</h2>
@using (Html.BeginForm("Create", "CustomerEntities"))
{
    @Html.ValidationSummary()

    @Html.HiddenFor(x=>x.Id)
    @Html.EditorFor(x=>x.Address)
    @Html.EditorFor(x => x.Email)
    <input type="submit" value="Submit"/>
}
